@import "tailwindcss";

@theme {
  --color-background: #f0e1d0;
  --color-primary: #705554;
  --color-accent: #f0e1d0;
  --color-secondary: #a59594;
  --color-hero-overlay: #e8e0d0;
  --color-light: #f2f2f2;

  --font-hero: var(--font-franklin), sans-serif;
  --font-body: var(--font-arial-narrow), sans-serif;
  --font-mhei: var(--font-mhei), sans-serif;
  --font-arial: Arial, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: var(--color-background);
  }

  p {
    color: var(--color-primary);
  }
}
